<% provide(:title, "About") %>
<div class="row">
<div class="col-md-12"><!--content-->
  <h1>Hello, I am Jan</h1>
  <p>This is my Foosbal Tracker - the app made for the Lunar Logic internship.</p>
  <p>Below you can find the lost of some of the featured I implemented</p>
  <div class="col-md-8">
    <ul class="list-group">
    <li class="list-group-item">Top player seciont on the home page</li>
    <li class="list-group-item">Ranking - you can sort list</li>
    <li class="list-group-item">Player page - some stats and all his matches sorting by date</li>
    <li class="list-group-item">Adding match - for date I used DatePicker</li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
  </div>
</div>
</div>
