<% provide(:title, "About") %>
<div class="row">
<div class="col-md-12"><!--content-->
  <h1>Hello, I am Jan</h1>
  <p>This is my Foosbal Tracker - the app made for the Lunar Logic internship.</p>
  <p>Below you can find some of the featured I implemented: </p>
  <div class="col-md-8">
    <ul>
    <li>Fourth best player on the home page + chart</li>
    <li>Ranking - you can sort by position/name</li>
    <li>Player page - some stats and charts and all his matches sorting by date</li>
    <li>Adding match - for date I used DatePicker</li>
  </div>
</div>
</div>
