<div class="col-sm-10"><!--content-->
  <div class="row">
    <div class="col-md-12">
      <h1>Hello, I am Jan</h1>
      <p>This is my Foosbal Tracker - the app made for the Lunar Logic internship.</p>
      <p>Some more info about this app:</p>
      <ul>
        <li>You can</li>
      </ul>
    </div>
  </div>
</div>