<div class="col-sm-10"><!--content-->
  <div class="row">
    <div class="col-xs-12">            
      <div class="row">
        <div class="col-md-12">
          <h1>Headline</h1><p class="lead">Hello! You can Add match or Add player (bootstrap buttons)</p>
          <%= link_to "Add player", new_player_path %><br>
          <%= link_to "Add match", new_match_path %> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Top 3 players</h2>
        </div>
          <div class="col-md-3 col-sm-6 post">
            <a href="#" class="thumbnail"><img src="" alt="" /></a>
            <h2>Player 1</h2><p>Basic info about player</p>
            <span class="btn btn-default">More</span>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>   