<%= link_to "Add player", new_player_path %><br>
<%= link_to "Add match", new_match_path %>
<h1>List of players</h1>
  <ul>
  <% @players.each do |player| %>
    <li><%= link_to player.firstname + " " + player.lastname, player_path(player) %> 
    (<%= player.nickname %>)</li>
  <% end %>
  </ul>