<%= link_to "Add player", new_player_path %>
<h1>List of players</h1>
  <ul>
  <% @players.each do |player| %>
    <li><%= link_to player.firstname + " " + player.lastname, player_path(player)  %></li>
  <% end %>
  </ul>