    <nav class="col-sm-2"><!--nav-->
      <div class="row">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Ranking", players_path %></li>
          <li><%= link_to "Add Player", new_player_path %></li>
          <li><%= link_to "Add Match", new_match_path %></li>          
        </ul>        
      </div>
    </nav><!--/nav-->